{% extends 'base.html' %}
{% load static %}


{% block content %}
  <style>
      .product__media--nav__items--img {
          width: 100px;
          height: 110px;
          object-fit: cover;
      }

      .product__media--preview__items--img {
          width: 570px;
          height: 590px;
          object-fit: cover;
      }
  </style>

  <main class="main__content_wrapper">

    <!-- Start breadcrumb section -->
    <section class="breadcrumb__section breadcrumb__bg">
      <div class="container">
        <div class="row row-cols-1">
          <div class="col">
            <div class="breadcrumb__content">
              <h1 class="breadcrumb__content--title text-white mb-10">Інформація про продукт</h1>
              <ul class="breadcrumb__content--menu d-flex">
                <li class="breadcrumb__content--menu__items"><a class="text-white"
                                                                href="{% url 'shop:index' %}">Головна</a>
                </li>
                <li class="breadcrumb__content--menu__items"><span
                        class="text-white">Інформація про продукт</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End breadcrumb section -->

    <!-- Start product details section -->
    <section class="product__details--section section--padding">
      <div class="container">
      {% if user.is_staff %}
        <div class="row row-cols-lg-2 row-cols-md-2">
          <div style="display: flex">
            <a href="{% url 'shop:update-product' slug=product.slug %}" class="variant__buy--now__btn primary__btn"
               type="submit" style="display: flex; justify-content: center;">Редактировать
            </a>
            <a href="{% url 'shop:delete-product' slug=product.slug %}" class="variant__buy--now__btn primary__btn"
               style="background-color: red; display: flex; justify-content: center;" type="submit">Удалить
            </a>
          </div>

        </div>
        <br>
        {% endif %}
        <div class="row row-cols-lg-2 row-cols-md-2">
          <div class="col">
            <div class="product__details--media">
              <div class="product__media--preview  swiper">
                <div class="swiper-wrapper">
                  {% for photo in product.photo_set.all %}
                    <div class="swiper-slide">
                      <div class="product__media--preview__items">
                        <a class="product__media--preview__items--link glightbox"
                           data-gallery="product-media-preview"
                           href="{{ photo.image.url }}"><img
                                class="product__media--preview__items--img"
                                src="{{ photo.image.url }}"
                                alt="product-media-img"></a>
                        <div class="product__media--view__icon">
                          <a class="product__media--view__icon--link glightbox"
                             href="{{ photo.image.url }}"
                             data-gallery="product-media-preview">
                            <svg class="product__media--view__icon--svg"
                                 xmlns="http://www.w3.org/2000/svg" width="22.51"
                                 height="22.443" viewBox="0 0 512 512">
                              <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"
                                    fill="none" stroke="currentColor"
                                    stroke-miterlimit="10"
                                    stroke-width="32"></path>
                              <path fill="none" stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-miterlimit="10" stroke-width="32"
                                    d="M338.29 338.29L448 448"></path>
                            </svg>
                            <span class="visually-hidden">Media Gallery</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="product__media--nav swiper">
                <div class="swiper-wrapper">
                  {% for photo in product.photo_set.all %}
                    <div class="swiper-slide">
                      <div class="product__media--nav__items">
                        <img class="product__media--nav__items--img"
                             src="{{ photo.image.url }}"
                             alt="product-nav-img">
                      </div>
                    </div>
                  {% endfor %}
                </div>
                <div class="swiper__nav--btn swiper-button-next"></div>
                <div class="swiper__nav--btn swiper-button-prev"></div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="product__details--info">
              <form action="#">
                <h2 class="product__details--info__title mb-15">{{ product.name }}</h2>
                <div class="product__details--info__price mb-10">
                  {% if product.sale %}
                    <span class="current__price">{{ product.sale }} грн.</span>
                    <span class="old__price">{{ product.price }} грн.</span>
                  {% else %}
                    <span class="current__price">{{ product.price }} грн.</span>
                  {% endif %}
                </div>
                <div class="product__details--info__rating d-flex align-items-center mb-15">
                  <ul class="rating product__list--rating d-flex">
                    <li class="rating__list">
                                            <span class="rating__list--icon">
                                                <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg"
                                                     width="13.105" height="13.732" viewBox="0 0 10.105 9.732">
                                                <path data-name="star - Copy"
                                                      d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                                      transform="translate(0 -0.018)" fill="currentColor"></path>
                                                </svg>
                                            </span>
                    </li>
                    <li class="rating__list">
                                            <span class="rating__list--icon">
                                                <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg"
                                                     width="13.105" height="13.732" viewBox="0 0 10.105 9.732">
                                                <path data-name="star - Copy"
                                                      d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                                      transform="translate(0 -0.018)" fill="currentColor"></path>
                                                </svg>
                                            </span>
                    </li>
                    <li class="rating__list">
                                            <span class="rating__list--icon">
                                                <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg"
                                                     width="13.105" height="13.732" viewBox="0 0 10.105 9.732">
                                                <path data-name="star - Copy"
                                                      d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                                      transform="translate(0 -0.018)" fill="currentColor"></path>
                                                </svg>
                                            </span>
                    </li>
                    <li class="rating__list">
                                            <span class="rating__list--icon">
                                                <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg"
                                                     width="13.105" height="13.732" viewBox="0 0 10.105 9.732">
                                                <path data-name="star - Copy"
                                                      d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                                      transform="translate(0 -0.018)" fill="currentColor"></path>
                                                </svg>
                                            </span>
                    </li>
                    <li class="rating__list">
                                            <span class="rating__list--icon">
                                                <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg"
                                                     width="13.105" height="13.732" viewBox="0 0 10.105 9.732">
                                                <path data-name="star - Copy"
                                                      d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                                      transform="translate(0 -0.018)" fill="currentColor"></path>
                                                </svg>
                                            </span>
                    </li>
                    <li class="rating__list"><span class="rating__list--text">( 5.0)</span></li>
                  </ul>
                </div>
                <p class="product__details--info__desc mb-20"></p>
                <div class="product__variant">
                  <div class="product__variant--list mb-20">
                    <fieldset class="variant__input--fieldset">
                      <legend class="product__variant--title mb-8">Розмір
                        : {{ product.size }}</legend>
                    </fieldset>
                  </div>
                  <div class="product__variant--list mb-15">
                    <div class="product__details--info__meta">
                      <p class="product__details--info__meta--list"><strong>Артикул:</strong>
                        <span>{{ product.article }}</span></p>
                      <p class="product__details--info__meta--list"><strong>Країна:</strong>
                        <span>{{ product.country.name }}</span>
                      </p>
                      <p class="product__details--info__meta--list">
                        <strong>Бренд:</strong>
                        <span>{{ product.brand.name }}</span></p>
                      <p class="product__details--info__meta--list">
                        <strong>Матеріал:</strong>
                        <span>{{ product.material }}</span></p>
                      <p class="product__details--info__meta--list">
                        <strong>Колір:</strong>
                        <span>{{ product.color }}</span></p>
                      <br>
                    </div>
                  </div>

                  <div class="product__variant--list mb-15">
                    <button class="variant__buy--now__btn primary__btn" type="submit">Купити
                    </button>
                  </div>
                </div>
                <div class="guarantee__safe--checkout">
                  <h5 class="guarantee__safe--checkout__title">Guaranteed Safe Checkout</h5>
                  <img class="guarantee__safe--checkout__img"
                       src="{% static 'img/other/safe-checkout.webp' %}" alt="Payment Image">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End product details section -->

    <!-- Start product details tab section -->
    <section class="product__details--tab__section section--padding">
      <div class="container">
        <div class="row row-cols-1">
          <div class="col">
            <ul class="product__details--tab d-flex mb-30">
              <li class="product__details--tab__list active" data-toggle="tab" data-target="#description">
                Описание
              </li>
              {% if product.brand.description %}
                <li class="product__details--tab__list" data-toggle="tab" data-target="#custom">Виробник
                </li>
              {% endif %}
            </ul>
            <div class="product__details--tab__inner border-radius-10">
              <div class="tab_content">
                <div id="description" class="tab_pane active show">
                  <div class="product__tab--content">
                    <div class="product__tab--content__step mb-30">
                      <h4 class="product__tab--content__title mb-10">{{ product.name }}</h4>
                      <p class="product__tab--content__desc">
                        <b>Країна виробник: </b> {{ product.country.name }}<br>
                        <b>Розмір: </b> {{ product.size }}<br>
                        <b>Колір: </b> {{ product.color }}<br>
                        <b>Матеріал: </b> {{ product.material }}<br>
                        <b>Призначення: </b> {{ product.sub_category.name }}<br><br>
                        {{ product.description }}</p>
                    </div>
                  </div>
                </div>
                <div id="custom" class="tab_pane">
                  <div class="product__tab--content">
                    <div class="product__tab--content__items mb-40 d-flex align-items-center">
                      <div class="product__tab--content__thumbnail">
                        {% if product.brand.photo %}
                          <img class="product__tab--content__thumbnail--img display-block"
                               src="{{ product.brand.photo.url }}" alt="product-tab">
                        {% endif %}
                      </div>
                      <div class="product__tab--content__right">
                        <div class="product__tab--content__step mb-20">
                          <h4 class="product__tab--content__title">{{ product.brand.name }}</h4>
                          <p class="product__tab--content__desc">{{ product.brand.description }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End product details tab section -->

  </main>


  <!-- Scroll top bar -->
  <button id="scroll__top">
    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
            d="M112 244l144-144 144 144M256 120v292"/>
    </svg>
  </button>
{% endblock %}