<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>AQUAMARINE</title>
  <meta name="description"
        content="Знайомтесь з AQUAMARINE - вашим надійним інтернет-магазином сантехніки, що пропонує широкий асортимент товарів для ванної кімнати. Від сучасних душових кабін до елегантних раковин та унітазів – у нас є все, щоб перетворити вашу ванну на оазис комфорту та стилю. Наш фізичний магазин чекає на вас за адресою: Солотвино, Спортивна, 110. Завітайте до особистого ознайомлення з продукцією або оформіть замовлення онлайн з доставкою додому. AQUAMARINE - якість та стиль вашої ванної кімнати.">
  {% load static %}
  <meta name="description" content="Morden Bootstrap HTML5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
  <!-- ======= All CSS Plugins here ======== -->
  <link rel="stylesheet" href="{% static 'css/plugins/swiper-bundle.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/plugins/glightbox.min.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

  <!-- Plugin css -->
  <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">

  <!-- Custom Style CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
          'gtm.start':
              new Date().getTime(), event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-MM48RQS6');</script>
  <!-- End Google Tag Manager -->
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MM48RQS6"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->


</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1CENLKR5HM"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-1CENLKR5HM');
</script>

<body>
{% block header %}
  {% include "includes/header.html" %}
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
  {% include 'includes/footer.html' %}
{% endblock %}
<!-- All Script JS Plugins here  -->
<script src="{% static 'js/vendor/popper.js' %}" defer="defer"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}" defer="defer"></script>
<script src="{% static 'js/plugins/swiper-bundle.min.js' %}" defer="defer"></script>
<script src="{% static 'js/plugins/glightbox.min.js' %}" defer="defer"></script>

<!-- Customscript js -->
<script src="{% static 'js/script.js' %}" defer="defer"></script>
</body>
</html>